.registration{
    border: 2px solid greenyellow;
}

.registration > div{
    color: lightcyan;
    margin-top: 5%;
        
}

.registration  input{
    background-color: silver;
    height: 25px;
}

.create{
    border: 3px solid greenyellow;
}
.create > div{
    margin-top: 5%;
    color:lightcyan;
}

.create input{
    background-color: skyblue;
    color: red;
}

.create label{
    font-size: 14px;
}



table button{
    background-color: orangered;
    margin-top: 5%;
}


.tableForHW{
    background-color:dimgray;
}


table{
    margin: auto;
    padding: auto;
    border: 10px solid blue;
}