body{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

form{
    background-color: aquamarine;
    padding: 20px 20px;
    border-radius:  10px; 
    border: 2px solid green;
    
}

.mains div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;  
}

.mains span{
    color: white;
    color: blue;
}

.second div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.second span{
    color: blue;
}

